//@use "~bulma/bulma";
@use "mixins";
@use "sass:color";
@use "bulma/sass";
@use "theme-light-dark";

aside.aside {
  display: flex;
  flex-direction: column;
  width: theme-light-dark.$aside-collapsed-width;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  height: 100vh;
  padding: 0;
  box-shadow: theme-light-dark.$aside-box-shadow;
  background-color: theme-light-dark.$aside-background-color;

  &.is-placed-right {
    @include mixins.transition(right);
    width: theme-light-dark.$aside-right-width;
    left: auto;
    right: theme-light-dark.$aside-right-width * -1;
    background: theme-light-dark.$white;
    box-shadow: theme-light-dark.$aside-right-box-shadow;
  }

  &.is-secondary {
    background-color: theme-light-dark.$aside-secondary-background-color;

    .aside-tools {
      box-shadow: theme-light-dark.$aside-tools-box-shadow;
      background-color: theme-light-dark.$aside-secondary-tools-background-color;
    }

    .menu-list {
      li {
        ul {
          background-color: theme-light-dark.$aside-secondary-dropdown-background-color;
        }
      }
      a {
        &.is-active {
          background-color: theme-light-dark.$aside-secondary-item-active-background-color;
        }
        &:hover {
          background-color: theme-light-dark.$aside-secondary-item-hover-background-color;
        }
      }
    }
  }

  .aside-tools {
    display: flex;
    flex-grow: 0;
    flex-direction: row;
    width: 100%;
    background-color: theme-light-dark.$aside-tools-background-color;
    color: theme-light-dark.$aside-tools-color;
    line-height: theme-light-dark.$navbar-height;
    height: theme-light-dark.$navbar-height;
    padding-left: theme-light-dark.$default-padding * .5;

    &.has-icon {
      padding-left: 0;

      .icon {
        width: theme-light-dark.$aside-icon-width;
      }
    }

    .aside-tools-label {
      flex: 1;
    }

    .aside-close {
      flex-grow: 0;
      color: theme-light-dark.$aside-tools-color;

      .icon {
        width: auto;
        margin-right: theme-light-dark.$default-padding * .5;
      }
    }
  }

  .menu-container, .aside-container {
    flex: 1;
    position: relative;
    overflow-y: auto;
  }

  .menu-container {
    @include mixins.scrollbars(theme-light-dark.$aside-scrollbar-track, theme-light-dark.$aside-scrollbar-thumb);
  }

  .aside-container {
    @include mixins.scrollbars(theme-light-dark.$app-scrollbar-track, theme-light-dark.$app-scrollbar-thumb, theme-light-dark.$app-scrollbar-hover);
  }

  .menu {
    /*&.is-menu-bottom {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
    }*/
  }

  .menu-list {
    li {
      &.is-active {
        box-shadow: 0 1px theme-light-dark.$base-color-light;
        >a {
          box-shadow: 0 1px theme-light-dark.$base-color-light;
        }
      }

      a.has-submenu-icon {
        position: relative;
        padding-right: theme-light-dark.$aside-icon-width;

        .submenu-icon {
          position: absolute;
          top: theme-light-dark.$size-base * .5;
          right: 0;
        }
      }
      ul {
        display: none;
        border-left: 0;
        background-color: theme-light-dark.$aside-dropdown-background-color;
        padding-left: 0;
        margin: 0;

        li {
          a {
            padding: theme-light-dark.$default-padding * .5 0 theme-light-dark.$default-padding * .5 theme-light-dark.$default-padding * .5;
            font-size:theme-light-dark.$aside-submenu-font-size;

            &.has-icon {
              padding-left: 0;
            }
            &.is-active {
              &:not(:hover) {
                background: transparent;
              }
            }
          }
        }
      }
    }
  }

  .menu-label {
    display: none;
    padding: 0 theme-light-dark.$default-padding * .5;
    margin-top: theme-light-dark.$default-padding * .5;
    margin-bottom: theme-light-dark.$default-padding * .5;
  }

  li a {
    @include mixins.icon-with-update-mark(theme-light-dark.$aside-collapsed-width);
    span.menu-item-label {
      display: none;
    }
  }

  .media {
    padding-left: theme-light-dark.$default-padding;
    padding-right: theme-light-dark.$default-padding;

    &:first-child {
      padding-top: theme-light-dark.$default-padding;
    }

    &:last-child {
      padding-bottom: theme-light-dark.$default-padding;
    }
  }
}

.has-aside-right {
  aside.aside.is-placed-right {
    right: 1px;
  }
}



  html {
    &.has-aside-left, &.has-aside-right {
      nav.navbar, body {
        @include mixins.transition(padding);
      }
    }
    &.has-aside-left {
      &.has-aside-expanded {
        nav.navbar, body {
          padding-left: theme-light-dark.$aside-width;
        }
        aside.aside.is-secondary {
          left: theme-light-dark.$aside-width;
        }
      }
      nav.navbar, body {
        padding-left: theme-light-dark.$aside-collapsed-width;
      }
      /*aside.is-placed-left {
        display: flex;
        flex-direction: column;
      }*/
    }

    &.has-aside-hidden-layout {
      aside.aside {
        top: calc(1px + #{theme-light-dark.$navbar-height});
        height: calc(100vh - #{theme-light-dark.$navbar-height} - 1px);

        &.has-secondary {
          box-shadow: theme-light-dark.$aside-boxed-has-secondary-box-shadow;
        }
        &.is-secondary {
          left: theme-light-dark.$aside-width;

          .aside-tools {
            display: flex;
            background: transparent;
          }
        }
        &.is-placed-right {
          z-index: 45;
          right: 0;
        }
        .aside-tools {
          display: none;
        }
      }
    }

    &.has-boxed-layout {
      aside.aside {
        position: absolute;
      }
    }
  }

  aside.aside {
    z-index: 50;

    &.has-secondary {
      box-shadow: theme-light-dark.$aside-has-secondary-box-shadow;
    }

    &.is-secondary {
      left: theme-light-dark.$aside-collapsed-width;
      z-index: 40;
    }

    &:not(.is-expanded) {
      .is-menu-main{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
      }
      .is-menu-bottom a{
            justify-content: center;

      }


      .menu-list li a.has-submenu-icon {
        padding-right: 0;
        .submenu-icon {
          display: none;
        }
      }

      .aside-tools {
        padding-left: 0;
        .aside-tools-label {
          text-align: center;
        }
      }
    }

    &.is-expanded {
      width: theme-light-dark.$aside-width;

      .menu-label {
        display: block;
      }
      .menu-list {
        @include mixins.icon-with-update-mark(theme-light-dark.$aside-icon-width);

        span.menu-item-label {
          display: inline-block;
        }

        li.is-active {
          ul {
            display: block;
          }
        }
      }
    }

    &.is-placed-right {
      top: theme-light-dark.$navbar-height;
      height: calc(100vh - #{theme-light-dark.$navbar-height});
      z-index: 25;

      .aside-container {
        height: calc(100vh - #{theme-light-dark.$navbar-height});

        .media {
          padding-right: theme-light-dark.$default-padding;
        }
      }
    }
  }



