//@use "~bulma/bulma";
@use "mixins";
@use "theme-light-dark";

.card:not(:last-child) {
  margin-bottom: theme-light-dark.$default-padding;
}

.card {
  border-radius: theme-light-dark.$radius-large;
  border: theme-light-dark.$card-border;

  &.has-shadow {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  }

  &.is-scrollable-height-medium {
    .card-content {
      @include mixins.scrollbars(theme-light-dark.$app-scrollbar-track, theme-light-dark.$app-scrollbar-thumb, theme-light-dark.$app-scrollbar-hover);
      height: theme-light-dark.$card-height-medium;
      position: relative;
      overflow-y: auto;
    }
  }

  &.is-card-widget, &.has-card-header-background {
    .card-header {
      background-color: theme-light-dark.$card-header-background-color;
      border-bottom: theme-light-dark.$card-widget-header-border;

      p {
        font-weight: normal;
        padding: theme-light-dark.$default-padding * .75 theme-light-dark.$default-padding * .5;
      }
    }
  }

  &.is-card-widget {
    .card-header {
      p {
        font-size: .85rem;
        line-height: .85rem;
        padding: theme-light-dark.$default-padding * .33;
        color: theme-light-dark.$grey;
      }

      .button {
        margin-right: theme-light-dark.$default-padding * .33;

        &:not(:hover) {
          border-color: theme-light-dark.$white-ter;
        }
      }
    }

    .card-content {
      padding: theme-light-dark.$default-padding * .5;
    }
  }

  &.has-table {
    .card-content {
      padding: 0;
    }
    .b-table {
      border-radius: theme-light-dark.$radius-large;
      overflow: hidden;
    }
  }

  .card-header {
    border-bottom: theme-light-dark.$card-header-border;

    .button {
      display: inline-flex;
      align-self: center;
      margin-right: theme-light-dark.$default-padding * .5;
    }
  }

  .card-content {
    hr {
      margin-left: theme-light-dark.$card-content-padding * -1;
      margin-right: theme-light-dark.$card-content-padding * -1;
    }
    .media-list {
      margin-left: theme-light-dark.$card-content-padding * -1;
      margin-right: theme-light-dark.$card-content-padding * -1;
      .media {
        padding-left: theme-light-dark.$card-content-padding;
        padding-right: theme-light-dark.$card-content-padding;
      }
    }
  }

  .notification.is-card-toolbar {
    border-radius: 0;
    padding-left: theme-light-dark.$default-padding * .5;
    padding-right: theme-light-dark.$default-padding * .5;
    margin-bottom: 0;

    &.is-upper {
      border-bottom: theme-light-dark.$card-notification-bar-border;
    }
  }

  .is-widget-icon {
    .icon {
      width: 5rem;
      height: 5rem;
    }
  }

  .is-widget-label {
    .subtitle {
      color: theme-light-dark.$grey;
    }
  }
}
