@use "theme-light-dark";

.container.has-boxed-layout {
  background: theme-light-dark.$white;
  border-left: theme-light-dark.$container-boxed-border;
  border-right: theme-light-dark.$container-boxed-border;
}