//@use "~bulma/bulma";
@use "mixins";
@use "theme-light-dark";

html.is-dark-mode-active {
  @include mixins.scrollbars(theme-light-dark.$dark-mode-background-color, theme-light-dark.$black);
  background-color: theme-light-dark.$dark-mode-background-color;

  &.has-boxed-layout {
    //background-color: $dark-mode-html-boxed-background-color;
  }

  .loading-overlay .loading-background {
    background: rgba(theme-light-dark.$dark-mode-light-border-color, .125);
  }

  .modal {
    .modal-background {
      background-color: theme-light-dark.$dark-mode-overlay-background-color
    }
    .modal-card-title {
      color: theme-light-dark.$dark-mode-color;
    }
    .modal-card-head, .modal-card-body, .modal-card-foot {
      background-color: theme-light-dark.$dark-mode-background-color;
      border-color: theme-light-dark.$dark-mode-light-border-color;
    }
  }

  .modal-close {
    &:before, &:after {
      background-color: theme-light-dark.$dark-mode-color;
    }
  }

  .card {
    border-color: theme-light-dark.$dark-mode-light-border-color;
    color: theme-light-dark.$grey-lighter;

    &.is-scrollable-height-medium {
      .card-content {
        @include mixins.scrollbars(theme-light-dark.$dark-mode-background-color, theme-light-dark.$black);
      }
    }

    .card-header {
      border-color: theme-light-dark.$dark-mode-light-border-color;
    }

    .card-header-title {
      color: theme-light-dark.$grey-lighter;
    }

    .card-footer {
      border-color: theme-light-dark.$dark-mode-light-border-color;
    }

    .is-widget-label {
      .subtitle {
        color: theme-light-dark.$grey-light;
      }
    }

    .notification {
      background-color: theme-light-dark.$dark-mode-light-border-color;
      color: theme-light-dark.$grey-lighter;

      &.is-card-toolbar {
        border-color: theme-light-dark.$dark-mode-light-border-color;
        background-color: theme-light-dark.$dark-mode-background-color;
      }
    }

    .card-header {
      .button {
        border-color: theme-light-dark.$dark-mode-card-header-button-color!important;
        color: theme-light-dark.$dark-mode-card-header-button-color;

        &:hover {
          background-color: theme-light-dark.$dark-mode-card-header-button-color;
          color: theme-light-dark.$dark-mode-card-header-button-hover-color;
        }
      }
    }
  }

  .progress {
    &::-webkit-progress-bar {
      background-color: theme-light-dark.$grey-dark;
    }
  }

  .button {
    background-color: transparent;
    border-color: theme-light-dark.$dark-mode-button-color!important;
    color: theme-light-dark.$dark-mode-button-color!important;

    &:hover:not([disabled]) {
      background-color: theme-light-dark.$dark-mode-button-color;
      color: theme-light-dark.$dark-mode-button-hover-color!important;
    }

    @each $state-class, $state-color, $state-text in theme-light-dark.$state-colors {
      &.is-#{$state-class} {
        border-color: $state-color!important;
        color: $state-color!important;

        &:hover {
          background-color: $state-color;
          color: $state-text;
        }
      }
    }
  }

  .select select:focus, .textarea:focus, .input:focus, .taginput .taginput-container.is-focusable:focus, .select select.is-focused, .is-focused.textarea, .is-focused.input, .taginput .is-focused.taginput-container.is-focusable, .select select:active, .textarea:active, .input:active, .taginput .taginput-container.is-focusable:active, .select select.is-active, .is-active.textarea, .is-active.input, .taginput .is-active.taginput-container.is-focusable {
    border-color: theme-light-dark.$cyan;
  }

  .radio, .checkbox {
    &:hover {
      color: theme-light-dark.$dark-mode-color;
    }
  }

  .label {
    color: theme-light-dark.$grey-lighter;
  }

  .input, .textarea, .select select {
    color: theme-light-dark.$dark-mode-color;
    background-color: transparent;

    &::placeholder {
      color: theme-light-dark.$grey-light;
    }
  }

  .select {
    &:not(.is-multiple):not(.is-loading)::after {
      border-color: theme-light-dark.$dark-mode-color;
    }
    select {
      color: theme-light-dark.$dark-mode-color;
    }
  }

  .switch input[type=checkbox] + .check {
    border: theme-light-dark.$dark-mode-border;

    &:before {
      border-color: theme-light-dark.$white;
    }
  }

  .b-checkbox.checkbox input[type=checkbox], .b-radio.radio input[type=radio] {
    &+.check {
      border: theme-light-dark.$dark-mode-border!important;
    }
  }

  .b-slider .b-slider-thumb-wrapper .b-slider-thumb {
    background: theme-light-dark.$dark-mode-background-color;
  }

  .upload .upload-draggable {
    border-color: theme-light-dark.$grey-light;

    &:hover {
      border-color: theme-light-dark.$dark-mode-border-color;
      background-color: transparent;
    }
  }
  .notification {
    @each $state-class, $state-color, $state-text in theme-light-dark.$state-colors {
      &.is-#{$state-class} {
        background-color: transparent;
        border: 1px solid $state-color;
        color: $state-color;

        .button {
          border-color: $state-color!important;
          color: $state-color!important;

          &:hover {
            background-color: $state-color;
            color: $state-text!important;
          }
        }
      }
    }
  }

  .tag {
    &.is-delete {
      background-color: theme-light-dark.$grey-dark;
    }

    @each $state-class, $state-color, $state-text in theme-light-dark.$state-colors {
      &.is-#{$state-class} {
        background-color: transparent;
        border: 1px solid $state-color;
        color: $state-color;
      }
    }
  }
  .table {
    background-color: transparent;
    color: theme-light-dark.$dark-mode-color;

    thead {
      td, th {
        color: theme-light-dark.$dark-mode-color;
      }
    }

    td, th {
      border-color: theme-light-dark.$dark-mode-light-border-color;
    }

    &.is-hoverable.is-striped tbody tr:not(.is-selected):hover {
      background-color: theme-light-dark.$dark-mode-light-border-color;

      &:nth-child(even) {
        background-color: theme-light-dark.$grey-dark;
      }
    }

    &.is-striped tbody tr:not(.is-selected):nth-child(even) {
      background-color: theme-light-dark.$dark-mode-light-border-color;
    }
  }

  .b-table .table-wrapper + .level {
    background-color: transparent;
    border-color: theme-light-dark.$dark-mode-light-border-color;

    .pagination-link {
      background-color: transparent;
      color: theme-light-dark.$grey;
      border-color: theme-light-dark.$grey;

      &:hover:not(.is-current):not([disabled]) {
        color: theme-light-dark.$grey-lighter;
        border-color: theme-light-dark.$grey-lighter;
      }

      &.is-current {
        color: theme-light-dark.$dark-mode-color;
        border-color: theme-light-dark.$dark-mode-border-color;
      }
    }
  }

  .title {
    color: theme-light-dark.$grey-lighter;
  }

  .subtitle {
    color: theme-light-dark.$grey-lighter;
  }

  body {
    color: theme-light-dark.$grey-lighter;
  }

  strong {
    color: theme-light-dark.$dark-mode-color;
  }

  hr {
    background-color: theme-light-dark.$dark-mode-light-border-color;
  }

  a {
    color: theme-light-dark.$dark-mode-link-color;
  }

  .media {
    border-color: theme-light-dark.$dark-mode-light-border-color;
  }

  nav.navbar {
    background-color: theme-light-dark.$dark-mode-background-color;
    box-shadow: 0 1px theme-light-dark.$dark-mode-light-border-color;

    .navbar-item {
      color: theme-light-dark.$dark-mode-link-color;

      .navbar-link {
        color: theme-light-dark.$dark-mode-link-color;
      }

      .input {
        color: theme-light-dark.$dark-mode-color;

        &::placeholder {
          color: theme-light-dark.$grey-light;
        }
      }

      &.has-divider {
        border-color: theme-light-dark.$dark-mode-light-border-color;
      }

      &.is-active {
        color: theme-light-dark.$dark-mode-link-active-color;
      }
    }
  }

  .navbar-dropdown {
    background-color: theme-light-dark.$dark-mode-background-color;

    .navbar-item:hover {
      color: theme-light-dark.$dark-mode-color;
    }
  }

  aside.aside {
    background-color: theme-light-dark.$dark-mode-background-color;
    box-shadow: 1px 0 theme-light-dark.$dark-mode-light-border-color!important;

    .aside-tools {
      color: theme-light-dark.$dark-mode-color;
      box-shadow: 0 1px theme-light-dark.$dark-mode-light-border-color;

      .aside-close {
        color: theme-light-dark.$dark-mode-color;
      }
    }

    &.is-placed-right {
      box-shadow: -1px 0 theme-light-dark.$dark-mode-light-border-color!important;
    }

    &.is-secondary, &.is-expanded {
      .aside-tools {
        box-shadow: 0 1px theme-light-dark.$dark-mode-light-border-color;
      }
    }

    &.is-secondary {
      .aside-tools {
        background-color: transparent;
      }
    }

    .menu-list li.is-active {
      box-shadow: 0 1px theme-light-dark.$dark-mode-light-border-color;

      >a {
        box-shadow: 0 1px theme-light-dark.$dark-mode-light-border-color;
      }
    }

    .menu-container {
      @include mixins.scrollbars(theme-light-dark.$dark-mode-background-color, theme-light-dark.$black);
    }

    .aside-container {
      @include mixins.scrollbars(theme-light-dark.$dark-mode-background-color, theme-light-dark.$black);
    }
  }

  .menu-list a {
    &.is-active {
      color: theme-light-dark.$dark-mode-link-active-color;
    }
    &:hover {
      color: theme-light-dark.$dark-mode-link-hover-color;
    }
  }
  .card {
    border-color: theme-light-dark.$dark-mode-light-border-color;
    color: theme-light-dark.$grey-lighter;

    .card-header {
      border-color: theme-light-dark.$dark-mode-light-border-color;
    }

    .card-header-title {
      color: theme-light-dark.$grey-lighter;
    }

    .card-footer {
      border-color: theme-light-dark.$dark-mode-light-border-color;
    }

    .is-widget-label {
      .subtitle {
        color: theme-light-dark.$grey-light;
      }
    }

    .notification {
      background-color: theme-light-dark.$dark-mode-light-border-color;
      color: theme-light-dark.$grey-lighter;

      &.is-card-toolbar {
        border-color: theme-light-dark.$dark-mode-light-border-color;
        background-color: theme-light-dark.$dark-mode-background-color;
      }
    }
  }
  section {
    &.section.is-title-bar, &.hero.is-hero-bar {
      border-color: theme-light-dark.$dark-mode-light-border-color;
    }

    &.section.is-title-bar {
      ul li {
        color: theme-light-dark.$grey-light;

        &:last-child {
          color: theme-light-dark.$grey-lighter;
        }
      }
    }
  }

  footer.footer {
    border-color: theme-light-dark.$dark-mode-light-border-color;

    .logo svg path {
      fill: theme-light-dark.$dark-mode-color;
    }
  }

  .error-page-icon {
    .icon {
      background-color: theme-light-dark.$dark-mode-light-border-color;
    }
  }

  .ui-overlay {
    background-color: theme-light-dark.$dark-mode-overlay-background-color;
  }

  .container.has-boxed-layout {
    background: theme-light-dark.$dark-mode-container-boxed-background-color;
    border-left: theme-light-dark.$dark-mode-light-border;
    border-right: theme-light-dark.$dark-mode-light-border;
  }

  .config-box {
    background-color: theme-light-dark.$grey-dark;
  }
}


  html.is-dark-mode-active {
    .navbar-dropdown {
      border-color:  theme-light-dark.$dark-mode-light-border-color;
      box-shadow: 0 8px 8px rgba( theme-light-dark.$black, 0.25);
    }
  }

