//@use "~bulma/bulma";
@use "theme-light-dark";

.error-page-icon {
  margin-bottom: theme-light-dark.$default-padding;

  .icon {
    background-color: theme-light-dark.$error-page-icon-background-color;
    border-radius: theme-light-dark.$radius-rounded;
    width: theme-light-dark.$error-page-icon-size;
    height: theme-light-dark.$error-page-icon-size;
  }
  .mdi.mdi-set, .mdi.mdi:before {
    font-size: theme-light-dark.$error-page-icon-size * .75;
  }
}

.error-page-caption {
  h1 {
    text-transform: uppercase;
    font-size: theme-light-dark.$size-base * 2;
    color: theme-light-dark.$error-page-caption-color;
  }

  &+.error-page-action {
    margin-top: theme-light-dark.$default-padding;
  }
}

section.hero.is-error-section {
  background: transparent;
}