@use "theme-light-dark";

footer.footer {
  border-top: theme-light-dark.$footer-border-top;

  .logo {
    height: theme-light-dark.$footer-logo-height;
    img, svg {
      width: auto;
      height: theme-light-dark.$footer-logo-height;
    }
  }
}
