@use "theme-light-dark";

.field {
  &.has-check.is-horizontal {
    align-items: center;
    .field-body {
      margin-top: theme-light-dark.$default-padding * .125;
    }
  }
  .control {
    .mdi-24px.mdi-set, .mdi-24px.mdi:before {
      font-size: inherit;
    }
  }
}
.upload {
  display: block;
  .upload-draggable {
    display: block;
  }
}

.input, .textarea, select {
  box-shadow: none;

  &:focus, &:active {
    box-shadow: none!important;
  }
}

.upload-file-list {
  .notification:not(:last-child) {
    margin-bottom: theme-light-dark.$default-padding * .5;
  }
}

.switch input[type=checkbox]+.check:before {
  box-shadow: none;
}

.switch, .b-checkbox.checkbox {
  input[type=checkbox] {
    &:focus + .check, &:focus:checked + .check {
      box-shadow: none!important;
    }
  }
}

.b-checkbox.checkbox input[type=checkbox], .b-radio.radio input[type=radio] {
  &+.check {
    border: theme-light-dark.$checkbox-border;
  }
}
