//@use "~bulma/bulma";
@use "theme-light-dark";

section.hero.is-hero-bar {
  background-color: theme-light-dark.$hero-bar-background;
  border-bottom: theme-light-dark.$light-border;

  &.is-main-hero {
    background-image: theme-light-dark.$hero-bar-main-background-image;
    background-size: cover;

    img {
      width: theme-light-dark.$hero-avatar-size;
      height: theme-light-dark.$hero-avatar-size;
      border-radius: theme-light-dark.$radius-rounded;
    }
  }

  .hero-body {
    padding: theme-light-dark.$default-padding;

    .level-item {
      &.is-hero-avatar-item {
        margin-right: theme-light-dark.$default-padding;
      }

      > div > .level {
        margin-bottom: theme-light-dark.$default-padding * .5;
      }

      .subtitle + p {
        margin-top: theme-light-dark.$default-padding * .5;
      }
    }
  }
}


