@use "theme-light-dark";

.media {
  .media-content {
    .media-meta {
      margin-bottom: theme-light-dark.$default-padding * .25;
      strong, small {
        margin-right: theme-light-dark.$default-padding * .33;
      }
    }
  }
}

