//@use "~bulma/bulma";
@use "theme-light-dark";

.modal-card {
  width: theme-light-dark.$modal-card-width;
}

.modal-card-head, .modal-card-foot {
  border: theme-light-dark.$modal-border;
}

.modal-card-body {
  border-left: theme-light-dark.$modal-border;
  border-right: theme-light-dark.$modal-border;
}

.modal-card-foot {
  background-color: theme-light-dark.$modal-card-foot-background-color;
}

