//@use "~bulma/bulma";
@use "theme-light-dark" as *;


nav.navbar {
  box-shadow: $navbar-box-shadow;

  .navbar-item {
    &.has-user-avatar {
      .is-user-avatar {
        margin-right: $default-padding * .5;
        display: inline-flex;
        width: $navbar-avatar-size;
        height: $navbar-avatar-size;
      }
    }

    &.has-dropdown {
      padding-right: 0;
      padding-left: 0;

      .navbar-link {
        padding-right: $navbar-item-h-padding;
        padding-left: $navbar-item-h-padding;
      }
    }

    &.has-divider {
      border-right: $navbar-divider-border;
    }

    &.no-left-space {
      padding-left: 0;
    }

    &.has-control {
      padding-top: 0;
      padding-bottom: 0;
    }

    .control {
      .input {
        color: $navbar-input-color;
        border: 0;
        box-shadow: none;
        background: transparent;

        &::placeholder {
          color: $navbar-input-placeholder-color;
        }
      }
    }

    .icon.has-update-mark:after {
      background-color: $navbar-update-mark-color;
    }
  }
}



  .navbar > .container, .container > .navbar {
    .navbar-menu.no-negative-margin-right {
      margin-right: 0;
    }
    .navbar-brand.no-negative-margin-left {
      margin-left: 0;
    }
  }

  nav.navbar {
    .navbar-item {
      padding-right: $navbar-item-h-padding;
      padding-left: $navbar-item-h-padding;

      &:not(.is-desktop-icon-only) {
        .icon:first-child {
          margin-right: $default-padding * .5;
        }
      }
      &.is-desktop-icon-only {
        span:not(.icon) {
          display: none;
        }
      }
    }
  }
