//@use "~bulma/bulma";
@use "theme-light-dark";

nav.navbar {
  box-shadow: theme-light-dark.$navbar-box-shadow;

  .navbar-item {
    &.has-user-avatar {
      .is-user-avatar {
        margin-right: theme-light-dark.$default-padding * .5;
        display: inline-flex;
        width: theme-light-dark.$navbar-avatar-size;
        height: theme-light-dark.$navbar-avatar-size;
      }
    }

    &.has-dropdown {
      padding-right: 0;
      padding-left: 0;

      .navbar-link {
        padding-right: theme-light-dark.$navbar-item-h-padding;
        padding-left: theme-light-dark.$navbar-item-h-padding;
      }
    }

    &.has-divider {
      border-right: theme-light-dark.$navbar-divider-border;
    }

    &.no-left-space {
      padding-left: 0;
    }

    &.has-control {
      padding-top: 0;
      padding-bottom: 0;
    }

    .control {
      .input {
        color: theme-light-dark.$navbar-input-color;
        border: 0;
        box-shadow: none;
        background: transparent;

        &::placeholder {
          color: theme-light-dark.$navbar-input-placeholder-color;
        }
      }
    }

    .icon.has-update-mark:after {
      background-color: theme-light-dark.$navbar-update-mark-color;
    }
  }
}


