//@use "~bulma/bulma";
@use "theme-light-dark";

.ui-overlay {
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: theme-light-dark.$overlay-background-color;
  top: 0;
  z-index: 35;
}

.has-aside-hidden-layout {
  .ui-overlay {
    height: calc(100vh - #{theme-light-dark.$navbar-height} - 1px);
    top: calc(#{theme-light-dark.$navbar-height} + 1px);
  }
}

.has-boxed-layout {
  .ui-overlay {
    left: 0;
    position: absolute;
    width: 100%;
  }
}