#tabs-with-content{
	
	.tabs{
	
		&:not(:last-child) {
		
			//margin-bottom: 0;
		}
		
		&.is-toggle{
			
			li{
				
				&.is-active{
					
					a{
						
						background-color: $epicCashGold;
						border-color: $epicCashGold;
					}
				}
			}
		}
	}

	.tab-content {
		
		//padding: 1rem;
		display: none;
	
		&.is-active {
  
			display: block;
		}
	}
}