//@use "~bulma/bulma";

@use "theme-light-dark";
@use "main-styles";
table.table {
  thead {
    th {
      border-bottom-width: 1px;
    }
  }

  td,th {
    .image {
      width: theme-light-dark.$table-avatar-size;
      height: theme-light-dark.$table-avatar-size;
    }

    &.is-progress-col {
      min-width: 5rem;
      vertical-align: middle;
    }

    &.is-image-cell {
      .image {
        margin: 0 auto;
      }
    }

    &.checkbox-cell {
      .b-checkbox.checkbox:not(.button) {
        margin-right: 0;
        width: 20px;

        .control-label {
          display: none;
          padding: 0;
        }
      }
    }
  }
}

.b-table {
  .table {
    border: 0;
    border-radius: 0;
  }

  /* This stylizes buefy's pagination */
  .table-wrapper {
    margin-bottom: 0;
  }

  .table-wrapper + .level {
    padding: theme-light-dark.$notification-padding;
    padding-left: theme-light-dark.$card-content-padding;
    padding-right: theme-light-dark.$card-content-padding;
    margin: 0;
    border-top: theme-light-dark.$card-border;

    .pagination-link {
      background: theme-light-dark.$button-background-color;
      color: theme-light-dark.$button-color;
      border-color: theme-light-dark.$button-border-color;

      &.is-current {
        border-color: theme-light-dark.$button-active-border-color;
      }
    }

    .pagination-previous, .pagination-next, .pagination-link {
      border-color: theme-light-dark.$button-border-color;
      color: theme-light-dark.$base-color;

      &[disabled] {
        background-color: transparent;
      }
    }
  }
}

.has-thead-hidden {
  thead {
    display: none;
  }
}

