/* We'll need some initial vars to use here */
@import "~bulma/sass/utilities/initial-variables";


// epicCash Vars

$epicCashGold: #d19944;




/* Base: Size  */
$size-base: 1rem;
$default-padding: $size-base * 1.5;

/* Default font */
$family-sans-serif: 'Nunito', sans-serif;

/* Base color */
$base-color: #2e323a;
//$base-color-light: rgba(24,28,33,0.06);
$base-color-light: #f1f2f2;

/* General overrides */
$primary: $cyan;
$body-background-color: $white;
$link: $blue;
$link-visited: $purple;
$light-border: 1px solid $base-color-light;
$hr-height: 1px;
$border: $base-color-light;

/* NavBar: Bulma override */
$navbar-item-color: #ffffff;
$navbar-item-hover-background-color: transparent;
$navbar-item-active-color: $epicCashGold; //$black-ter;
$navbar-item-active-background-color: transparent;
$navbar-dropdown-item-active-color: $base-color;
$navbar-dropdown-item-hover-background-color: transparent;
$navbar-dropdown-item-active-background-color: transparent;

/* NavBar: specifics */
$navbar-input-color: $grey-darker;
$navbar-input-placeholder-color: $grey-lighter;
$navbar-box-shadow: 0 1px $base-color-light;
$navbar-item-h-padding: $default-padding * .75;
$navbar-divider-border: 1px solid $base-color-light;
$navbar-update-mark-color: $red;
$navbar-avatar-size: 1.75rem;

/* Aside: Bulma override */
$menu-item-radius: 0;
$menu-list-link-padding: $size-base * .5 0;
$menu-label-color: lighten($base-color, 25%);
$menu-item-color: $link;
$menu-item-hover-color: $black;
$menu-item-hover-background-color: transparent;
$menu-item-active-color: $black-ter;
$menu-item-active-background-color: transparent;

/* Aside: specifics */
$aside-width: $size-base * 15;
$aside-collapsed-width: $size-base * 4.5;
$aside-mobile-width: $size-base * 15;
$aside-right-width: $size-base * 15;
$aside-icon-width: $size-base * 3;
$aside-submenu-font-size: $size-base * .95;
$aside-box-shadow: 1px 0 $base-color-light;
$aside-background-color: $white;
$aside-tools-background-color: transparent;
$aside-tools-color: $black-ter;
$aside-tools-box-shadow: 0 1px $base-color-light;
$aside-dropdown-background-color: transparent;
$aside-right-box-shadow: -1px 0 $base-color-light;
$aside-menu-list-active-box-shadow: 0 1px $base-color-light;
$aside-has-secondary-box-shadow: $aside-box-shadow;
$aside-boxed-has-secondary-box-shadow: $aside-box-shadow;

/* Aside Secondary Submenu: specifics */
$aside-secondary-background-color: $white;
$aside-secondary-item-active-background-color: transparent;
$aside-secondary-item-hover-background-color: transparent;
$aside-secondary-tools-background-color: transparent;
$aside-secondary-box-shadow-mobile: none;
$aside-secondary-dropdown-background-color: transparent;
$aside-secondary-box-shadow: none;
$aside-secondary-border-left-right: $light-border;

/* Title Bar: specifics */
$title-bar-color: $grey;
$title-bar-active-color: $black-ter;

/* Hero Bar: specifics */
$hero-bar-background: transparent;
$hero-bar-main-background-image: none;
$hero-avatar-size: $size-base * 10;

/* Card: Bulma override */
$card-shadow: none;
$card-header-shadow: none;
$card-background-color: transparent;
$card-header-background-color: transparent;

/* Card: specifics */
$card-border: 1px solid $base-color-light;
$card-header-border: $card-border;
$card-widget-header-border: $card-border;
$card-height-medium: 65vh;
$card-notification-bar-border: $card-border;

/* Table: Bulma override */
$table-cell-border: 1px solid $white-bis;

/* Table: specifics */
$table-avatar-size: $size-base * 1.5;
$table-avatar-size-mobile: 25vw;

/* Form */
$checkbox-border: 1px solid $base-color;

/* Overlay: specifics */
$overlay-background-color: rgba($white, .85);

/* Modal card: Bulma override */
$modal-z: 60;
$modal-background-background-color: $overlay-background-color;
$modal-card-head-background-color: $white;
$modal-card-title-size: $size-base;
$modal-card-body-padding: $default-padding 20px;
$modal-card-head-border-bottom: 1px solid $white-ter;

/* Modal card: specifics */
$modal-border: $light-border;
$modal-card-width: 40vw;
$modal-card-width-mobile: 90vw;
$modal-card-foot-background-color: $white;

/* Notification: Bulma override */
$notification-background-color: $white;
$notification-padding: $default-padding * .75 $default-padding;

/* Footer: Bulma override */
$footer-background-color: transparent;
$footer-padding: $default-padding * .33 $default-padding;

/* Footer: specifics */
$footer-logo-height: $size-base * 2;
$footer-border-top: $light-border;

/* Progress: Bulma override */
//$progress-bar-background-color: rgba($black-ter, 0.15);

/* Error Page */
$error-page-icon-background-color: $grey-lighter;
$error-page-caption-color: $grey-light;
$error-page-icon-size: $size-base * 10;

/* Icon: specifics */
$icon-update-mark-size: $size-base * .5;
$icon-update-mark-color: $yellow;

/* Slider: Buefy override */
$slider-track-background: transparent;

/* Boxed layout: specifics */
$container-boxed-border: $light-border;

/* Status/State colors (based on Bulma's) */
$state-colors:
                ('primary', $cyan, $white),
                ('info', $blue, $white),
                ('success', $green, $white),
                ('warning', $yellow, $grey-darker),
                ('danger', $red, $white),
                ('dark', $grey-darker, $white),
                ('white', $white, $black-ter);

/* Perfect Scrollbar */
$ps-rail-background-color: transparent;
$ps-thumb-background-color: $grey-lighter;
$ps-thumb-active-background-color: $grey-lighter;

/* Spinkit */
$spinkit-spinner-color: $grey-lighter;
$spinkit-size: 80px;

/* Dark Mode */
$dark-mode-background-color: $black-ter;
$dark-mode-html-boxed-background-color: $black-bis;
$dark-mode-container-boxed-background-color: $black-ter;
$dark-mode-lighter-background-color: $grey-darker;
$dark-mode-color: $white-ter;
$dark-mode-border-color: $white-ter;
$dark-mode-border: 1px solid $dark-mode-border-color;
$dark-mode-light-border-color: $grey-darker;
$dark-mode-light-border: 1px solid $dark-mode-light-border-color;
$dark-mode-link-color: $white-ter; //$cyan;
$dark-mode-link-active-color: $epicCashGold; //$white-ter;
$dark-mode-link-hover-color: $epicCashGold; // $white-bis;
$dark-mode-overlay-background-color: rgba($black-ter, .75);
$dark-mode-button-color: $white-ter;
$dark-mode-button-hover-color: $black-ter;
$dark-mode-card-header-button-color: $grey;
$dark-mode-card-header-button-hover-color: $black-ter;
