/* We'll need some initial vars to use here */
@import "node_modules/bulma/sass/utilities/initial-variables";

/* Base: Size  */
$size-base: 1rem;
$default-padding: $size-base * 1.5;

/* Default font */
$family-sans-serif: 'Nunito', sans-serif;

/* Base color */
$base-color: #2e323a;
$base-color-light: rgba(24,28,33,0.06);

/* App Scrollbars */
$app-scrollbar-track: $grey-lighter;
$app-scrollbar-thumb: $grey-light;
$app-scrollbar-hover: $grey;

/* General overrides */
$primary: $turquoise;
$body-background-color: #f8f8f8;
$link: $blue;
$link-visited: $purple;
$light-border: 1px solid $base-color-light;
$hr-height: 1px;

/* NavBar: Bulma override */
$navbar-item-color: $grey;
$navbar-item-active-background-color: $white-bis;

/* NavBar: specifics */
$navbar-input-color: $grey-darker;
$navbar-input-placeholder-color: $grey-lighter;
$navbar-box-shadow: 0 1px 0 rgba(24,28,33,.04);
$navbar-item-h-padding: $default-padding * .75;
$navbar-divider-border: 1px solid rgba($grey-lighter, .25);
$navbar-update-mark-color: $red;
$navbar-avatar-size: 1.75rem;

/* Aside: Bulma override */
$menu-item-radius: 0;
$menu-list-link-padding: $size-base * .5 0;
$menu-label-color: lighten($base-color, 25%);
$menu-item-color: lighten($base-color, 45%);
$menu-item-hover-color: $white;
$menu-item-hover-background-color: darken($base-color, 3.5%);
$menu-item-active-color: $white;
$menu-item-active-background-color: darken($base-color, 2.5%);

/* Aside: specifics */
$aside-width: $size-base * 15;
$aside-collapsed-width: $size-base * 4.5;
$aside-mobile-width: $size-base * 15;
$aside-right-width: $size-base * 15;
$aside-icon-width: $size-base * 3;
$aside-submenu-font-size: $size-base * .95;
$aside-box-shadow: none;
$aside-background-color: $base-color;
$aside-tools-background-color: darken($aside-background-color, 10%);
$aside-tools-color: $white;
$aside-tools-box-shadow: none;
$aside-dropdown-background-color: darken($aside-background-color, 1.5%);
$aside-right-box-shadow: -1px 1px 0 $base-color-light;
$aside-menu-list-active-box-shadow: none;
$aside-has-secondary-box-shadow: 0 0 5px 2px $black-ter;
$aside-boxed-has-secondary-box-shadow: none;
$aside-scrollbar-track: $black-ter;
$aside-scrollbar-thumb: $grey;

/* Aside Secondary Submenu: specifics */
$aside-secondary-background-color: lighten($aside-background-color, 5%);
$aside-secondary-item-active-background-color: lighten($aside-secondary-background-color, 2.5%);
$aside-secondary-item-hover-background-color: lighten($aside-secondary-background-color, 5%);
$aside-secondary-tools-background-color: darken($aside-secondary-background-color, 5%);
$aside-secondary-box-shadow-mobile: -2px 0 5vw $black;
$aside-secondary-dropdown-background-color: darken($aside-secondary-background-color, 1.5%);
$aside-secondary-box-shadow: -10px 0 10px $black-ter;
$aside-secondary-border-left-right: 0;

/* Title Bar: specifics */
$title-bar-color: $grey;
$title-bar-active-color: $black-ter;

/* Hero Bar: specifics */
$hero-bar-background: $white;
$hero-bar-main-background-image: url("../assets/trianglify-bw-50@2x.png");
$hero-avatar-size: $size-base * 10;

/* Card: Bulma override */
$card-shadow: none;
$card-header-shadow: none;
$card-header-background-color: $white;

/* Card: specifics */
$card-border: 1px solid $base-color-light;
$card-header-border: $card-border;
$card-widget-header-border: $card-border;
$card-height-medium: 65vh;
$card-notification-bar-border: 0;

/* Table: Bulma override */
$table-cell-border: 1px solid $white-bis;

/* Table: specifics */
$table-avatar-size: $size-base * 1.5;
$table-avatar-size-mobile: 25vw;

/* Form */
$checkbox-border: 1px solid $base-color;

/* Modal card: Bulma override */
$modal-z: 60;
$modal-card-head-background-color: $white-ter;
$modal-card-title-size: $size-base;
$modal-card-body-padding: $default-padding 20px;
$modal-card-head-border-bottom: 1px solid $white-ter;
$modal-card-foot-border-top: 0;

/* Modal card: specifics */
$modal-border: 0;
$modal-card-width: 40vw;
$modal-card-width-mobile: 90vw;
$modal-card-foot-background-color: $white-ter;

/* Notification: Bulma override */
$notification-padding: $default-padding * .75;
$notification-padding-ltr: $notification-padding;

/* Footer: Bulma override */
$footer-background-color: $white;
$footer-padding: $default-padding * .33 $default-padding;

/* Footer: specifics */
$footer-logo-height: $size-base * 2;
$footer-border-top: 0;

/* Progress: Bulma override */
$progress-bar-background-color: $grey-lighter;

/* Overlay: specifics */
$overlay-background-color: rgba($white, .75);

/* Error Page */
$error-page-icon-background-color: $grey-lighter;
$error-page-caption-color: $grey-light;
$error-page-icon-size: $size-base * 10;

/* Icon: specifics */
$icon-update-mark-size: $size-base * .5;
$icon-update-mark-color: $yellow;

/* Boxed layout: specifics */
$container-boxed-border: 0;

/* Status/State colors (based on Bulma's).  Used with menu-items */
$state-colors:
                ('primary', $turquoise, $white),
                ('info', $cyan, $white),
                ('success', $green, $white),
                ('warning', $yellow, $grey-darker),
                ('danger', $red, $white),
                ('dark', $grey-darker, $white),
                ('white', $white, $black-ter);

/* Spinkit */
$spinkit-spinner-color: $grey-lighter;
$spinkit-size: 80px;
