@use "sass:color";


// Scheme Hue and Saturation

$navbar-height: 80px;

$scheme-h: 221 !default;
$scheme-s: 14% !default;
$dark-l: 20% !default;
$light-l: 90% !default;

// Colors

$black: hsl(221, 14%, 4%) !default;
$black-bis: hsl(221, 14%, 9%) !default;
$black-ter: hsl(221, 14%, 14%) !default;

$grey-darker: hsl(221, 14%, 21%) !default;
$grey-dark: hsl(221, 14%, 29%) !default;
$grey: hsl(221, 14%, 48%) !default;
$grey-light: hsl(221, 14%, 71%) !default;
$grey-lighter: hsl(221, 14%, 86%) !default;
$grey-lightest: hsl(221, 14%, 93%) !default;

$white-ter: hsl(221, 14%, 96%) !default;
$white-bis: hsl(221, 14%, 98%) !default;
$white: hsl(221, 14%, 100%) !default;

$orange: hsl(14, 100%, 53%) !default;
$yellow: hsl(42, 100%, 53%) !default;
$green: hsl(153, 53%, 53%) !default;
$turquoise: hsl(171, 100%, 41%) !default;
$cyan: hsl(198, 100%, 70%) !default;
$blue: hsl(233, 100%, 63%) !default;
$purple: hsl(271, 100%, 71%) !default;
$red: hsl(348, 100%, 70%) !default;

// Typography

$family-sans-serif: "Inter", "SF Pro", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
  "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
$family-monospace: "Inconsolata", "Hack", "SF Mono", "Roboto Mono",
  "Source Code Pro", "Ubuntu Mono", monospace !default;
$render-mode: optimizeLegibility !default;

$size-1: 3rem !default;
$size-2: 2.5rem !default;
$size-3: 2rem !default;
$size-4: 1.5rem !default;
$size-5: 1.25rem !default;
$size-6: 1rem !default;
$size-7: 0.75rem !default;

$weight-light: 300 !default;
$weight-normal: 400 !default;
$weight-medium: 500 !default;
$weight-semibold: 600 !default;
$weight-bold: 700 !default;
$weight-extrabold: 800 !default;

// Spacing

$block-spacing: 1.5rem !default;
$aspect-ratios: (
  (1, 1),
  (5, 4),
  (4, 3),
  (3, 2),
  (5, 3),
  (16, 9),
  (2, 1),
  (3, 1),
  (4, 5),
  (3, 4),
  (2, 3),
  (3, 5),
  (9, 16),
  (1, 2),
  (1, 3)
) !default;

// Responsiveness

// The container horizontal gap, which acts as the offset for breakpoints
$gap: 32px !default;

// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px !default;

// 960px container + 4rem
$desktop: 960px + 2 * $gap !default;

// 1152px container + 4rem
$widescreen: 1152px + 2 * $gap !default;
$widescreen-enabled: true !default;

// 1344px container + 4rem
$fullhd: 1344px + 2 * $gap !default;
$fullhd-enabled: true !default;
$breakpoints: (
  "mobile": (
    "until": $tablet,
  ),
  "tablet": (
    "from": $tablet,
  ),
  "tablet-only": (
    "from": $tablet,
    "until": $desktop,
  ),
  "touch": (
    "from": $desktop,
  ),
  "desktop": (
    "from": $desktop,
  ),
  "desktop-only": (
    "from": $desktop,
    "until": $widescreen,
  ),
  "until-widescreen": (
    "until": $widescreen,
  ),
  "widescreen": (
    "from": $widescreen,
  ),
  "widescreen-only": (
    "from": $widescreen,
    "until": $fullhd,
  ),
  "until-fullhd": (
    "until": $fullhd,
  ),
  "fullhd": (
    "from": $fullhd,
  ),
) !default;

// Miscellaneous

$duration: 294ms !default;
$easing: ease-out !default;
$radius-small: 0.25rem !default;
$radius: 0.375rem !default;
$radius-medium: 0.5em !default;
$radius-large: 0.75rem !default;
$radius-rounded: 9999px !default;
$speed: 86ms !default;

// Flags

$variable-columns: true !default;
$rtl: false !default;

// Prefixes

$class-prefix: "" !default;
$cssvars-prefix: "bulma-" !default;
$helpers-prefix: "is-" !default;
$helpers-has-prefix: "has-" !default;
$variables-host: ":root" !default;

//@use "~bulma/css/bulma";

/* We'll need some initial vars to use here */
//@use "~bulma/sass/utilities/initial-variables.scss";



$button-background-color: $grey;
$button-color: $grey-lighter;
$button-border-color: $grey;
$button-active-border-color: transparent;
/* Base: Size  */
$size-base: 1rem;
$default-padding: $size-base * 1.5;
$card-content-padding: $default-padding;

/* Default font */
$family-sans-serif: 'Nunito', sans-serif;

/* Base color */
$base-color: #2e323a;
//$base-color-light: rgba(24,28,33,0.06);
$base-color-light: #f1f2f2;

/* App Scrollbars */
$app-scrollbar-track: $white;
$app-scrollbar-thumb: $grey-lighter;
$app-scrollbar-hover: $grey-light;

/* General overrides */
$primary: $cyan;
$body-background-color: $white;
$link: $blue;
$link-visited: $purple;
$light-border: 1px solid $base-color-light;
$hr-height: 1px;
$border: $base-color-light;

/* NavBar: Bulma override */
$navbar-item-color: #ffffff;// $link;
$navbar-item-hover-background-color: transparent;
$navbar-item-active-color: $black-ter;
$navbar-item-active-background-color: transparent;
$navbar-dropdown-item-active-color: $base-color;
$navbar-dropdown-item-hover-background-color: transparent;
$navbar-dropdown-item-active-background-color: transparent;

/* NavBar: specifics */
$navbar-input-color: $grey-darker;
$navbar-input-placeholder-color: $grey-lighter;
$navbar-box-shadow: 0 1px $base-color-light;
$navbar-item-h-padding: $default-padding * .75;
$navbar-divider-border: 1px solid $base-color-light;
$navbar-update-mark-color: $red;
$navbar-avatar-size: 1.75rem;

/* Aside: Bulma override */
$menu-item-radius: 0;
$menu-list-link-padding: $size-base * .5 0;
$menu-label-color: color.adjust($base-color, $lightness: 25%);
$menu-item-color: $link;
$menu-item-hover-color: $black;
$menu-item-hover-background-color: transparent;
$menu-item-active-color: $black-ter;
$menu-item-active-background-color: transparent;

/* Aside: specifics */
$aside-width: $size-base * 15;
$aside-collapsed-width: $size-base * 4.5;
$aside-mobile-width: $size-base * 15;
$aside-right-width: $size-base * 15;
$aside-icon-width: $size-base * 3;
$aside-submenu-font-size: $size-base * .95;
$aside-box-shadow: 1px 0 $base-color-light;
$aside-background-color: $white;
$aside-tools-background-color: transparent;
$aside-tools-color: $black-ter;
$aside-tools-box-shadow: 0 1px $base-color-light;
$aside-dropdown-background-color: transparent;
$aside-right-box-shadow: -1px 0 $base-color-light;
$aside-menu-list-active-box-shadow: 0 1px $base-color-light;
$aside-has-secondary-box-shadow: $aside-box-shadow;
$aside-boxed-has-secondary-box-shadow: $aside-box-shadow;
$aside-scrollbar-track: $white;
$aside-scrollbar-thumb: $grey-lighter;

/* Aside Secondary Submenu: specifics */
$aside-secondary-background-color: $white;
$aside-secondary-item-active-background-color: transparent;
$aside-secondary-item-hover-background-color: transparent;
$aside-secondary-tools-background-color: transparent;
$aside-secondary-box-shadow-mobile: none;
$aside-secondary-dropdown-background-color: transparent;
$aside-secondary-box-shadow: none;
$aside-secondary-border-left-right: $light-border;

/* Title Bar: specifics */
$title-bar-color: $grey;
$title-bar-active-color: $black-ter;

/* Hero Bar: specifics */
$hero-bar-background: transparent;
$hero-bar-main-background-image: none;
$hero-avatar-size: $size-base * 10;

/* Card: Bulma override */
$card-shadow: none;
$card-header-shadow: none;
$card-background-color: transparent;
$card-header-background-color: transparent;

/* Card: specifics */
$card-border: 1px solid $base-color-light;
$card-header-border: $card-border;
$card-widget-header-border: $card-border;
$card-height-medium: 65vh;
$card-notification-bar-border: $card-border;

/* Table: Bulma override */
$table-cell-border: 1px solid $white-bis;

/* Table: specifics */
$table-avatar-size: $size-base * 1.5;
$table-avatar-size-mobile: 25vw;

/* Form */
$checkbox-border: 1px solid $base-color;

/* Overlay: specifics */
$overlay-background-color: rgba($white, .85);

/* Modal card: Bulma override */
$modal-z: 60;
$modal-background-background-color: $overlay-background-color;
$modal-card-head-background-color: $white;
$modal-card-title-size: $size-base;
$modal-card-body-padding: $default-padding 20px;
$modal-card-head-border-bottom: 1px solid $white-ter;

/* Modal card: specifics */
$modal-border: $light-border;
$modal-card-width: 40vw;
$modal-card-width-mobile: 90vw;
$modal-card-foot-background-color: $white;

/* Notification: Bulma override */
$notification-background-color: $white;
$notification-padding: $default-padding * .75 $default-padding;

/* Footer: Bulma override */
$footer-background-color: transparent;
$footer-padding: $default-padding * .33 $default-padding;

/* Footer: specifics */
$footer-logo-height: $size-base * 2;
$footer-border-top: $light-border;

/* Progress: Bulma override */
//$progress-bar-background-color: rgba($black-ter, 0.15);

/* Error Page */
$error-page-icon-background-color: $grey-lighter;
$error-page-caption-color: $grey-light;
$error-page-icon-size: $size-base * 10;

/* Icon: specifics */
$icon-update-mark-size: $size-base * .5;
$icon-update-mark-color: $yellow;

/* Slider: Buefy override */
$slider-track-background: transparent;

/* Boxed layout: specifics */
$container-boxed-border: $light-border;

/* Status/State colors (based on Bulma's) */
$state-colors:
                ('primary', $cyan, $white),
                ('info', $blue, $white),
                ('success', $green, $white),
                ('warning', $yellow, $grey-darker),
                ('danger', $red, $white),
                ('dark', $grey-darker, $white),
                ('white', $white, $black-ter);

/* Spinkit */
$spinkit-spinner-color: $grey-lighter;
$spinkit-size: 80px;

/* Dark Mode */
$dark-mode-background-color: $black-ter;
$dark-mode-html-boxed-background-color: $black-bis;
$dark-mode-container-boxed-background-color: $black-ter;
$dark-mode-lighter-background-color: $grey-darker;
$dark-mode-color: $white-ter;
$dark-mode-border-color: $white-ter;
$dark-mode-border: 1px solid $dark-mode-border-color;
$dark-mode-light-border-color: $grey-darker;
$dark-mode-light-border: 1px solid $dark-mode-light-border-color;
$dark-mode-link-color: $white-ter;//$cyan;
$dark-mode-link-active-color: $white-ter;
$dark-mode-link-hover-color: $white-bis;
$dark-mode-overlay-background-color: rgba($black-ter, .75);
$dark-mode-button-color: $white-ter;
$dark-mode-button-hover-color: $black-ter;
$dark-mode-card-header-button-color: $grey;
$dark-mode-card-header-button-hover-color: $black-ter;
