@use "theme-light-dark";

section.section.is-title-bar {
  padding: theme-light-dark.$default-padding;
  border-bottom: theme-light-dark.$light-border;

  ul {
    li {
      display: inline-block;
      padding: 0 0 0 theme-light-dark.$default-padding * .5;
      font-size: theme-light-dark.$default-padding;
      color: theme-light-dark.$title-bar-color;

      &:after {
        display: inline-block;
        content: '/';
        padding-left: theme-light-dark.$default-padding * .5;
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
        font-weight: bold;
        color: theme-light-dark.$title-bar-active-color;

        &:after {
          display: none;
        }
      }
    }
  }
}
