
/* Theme style (colors & sizes) */
@use "theme-light-dark";
@use "main-styles" as *;
@use "libs/all";
@use "bulma-switch-control";
//theme-light-dark.$aside-width: theme-light-dark.$size-base * 16;
/* Core Libs & Lib configs */

/* Mixins */
@use "mixins";
/* App */
@use "app";
/* Theme components */
@use "nav-bar";
@use "aside";
@use "container";
@use "title-bar";
@use "hero-bar";
@use "card";
@use "tabs";
@use "table";
@use "tiles";
@use "form";
@use "form-b-slider";
@use "form-addons";
@use "media-item";
@use "main-section";
@use "modal";
@use "overlay";
@use "footer";
@use "misc";
@use "error-page";
@use "dark-mode";
@use "epicSetupWizard";
@use "epicOverrides";
/* For better theme preview. Remove on live projects */
@use "iframe-preview";

/* Config box */
@use "config-box";





.button__loader {

    position: relative;
    overflow: hidden;
    cursor:wait;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 150%;
        height: 100%;
      //  background: repeating-linear-gradient(60deg, darken($epic-cash-gold, 100%), $epic-cash-gold 10%);
        background: repeating-linear-gradient(
            60deg,
            $epic-cash-gold,
            $epic-cash-gold 4px,
            theme-light-dark.$black-ter 4px,
            theme-light-dark.$black-ter 8px
          );

        /*animation:load 1s infinite linear;*/
        animation: barberpole 2s linear infinite;
    }
}
html.is-dark-mode-active .button__loader_success.button.is-success span {
  color: #ffffff !important;
  z-index:1;
}
.button__loader_success {

    position: relative;
    overflow: hidden;
    cursor:wait;
    z-index:0;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 150%;
        height: 100%;
      //  background: repeating-linear-gradient(60deg, darken($epic-cash-gold, 100%), $epic-cash-gold 10%);
        background: repeating-linear-gradient(
            60deg,
            theme-light-dark.$green,
            theme-light-dark.$green 4px,
            theme-light-dark.$black-ter 4px,
            theme-light-dark.$black-ter 8px
          );

        /*animation:load 1s infinite linear;*/
        animation: barberpole 2s linear infinite;
    }
}

.button__text {
    position:relative
}
@keyframes barberpole {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2.2rem);
  }
}
.aside ul.menu-list a{
  display:flex;
}

.table-wrapper {
    overflow-y: auto;
}
code{
  overflow-wrap: break-word;
}
span.externalnode{

  overflow-wrap: break-word;
  max-width: 300px;
  display:block;
}
.show-pointer:hover{
  cursor: pointer;
}
.dotRed {
  height: 14px;
  width: 14px;
  background-color: #d9534f;
  border-radius: 50%;
  display: inline-block;
  vertical-align:middle;
}
.dotGreen {
  height: 14px;
  width: 14px;
  background-color: #5cb85c;
  border-radius: 50%;
  display: inline-block;
  vertical-align:middle;
}
.dotYellow {
  height: 14px;
  width: 14px;
  background-color: #ca9f5b;
  border-radius: 50%;
  display: inline-block;
  vertical-align:middle;
}

.dotred {
  height: 14px;
  width: 14px;
  background-color: #d9534f;
  border-radius: 50%;
  display: inline-block;
  vertical-align:middle;
}
.dotgreen {
  height: 14px;
  width: 14px;
  background-color: #5cb85c;
  border-radius: 50%;
  display: inline-block;
  vertical-align:middle;
}
.dotyellow {
  height: 14px;
  width: 14px;
  background-color: #ca9f5b;
  border-radius: 50%;
  display: inline-block;
  vertical-align:middle;
}