@charset "utf-8";
//styles will go here
@import "~bulmaswatch/superhero/_variables.scss";
@import '~bulma/bulma.sass';
@import "~bulmaswatch/superhero/_overrides.scss";

.select, .select select{
  width: 100%;
}
.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}
